:root{
  --primary: #F8FAFD;
  
  font-family: 'Inter';
  font-weight: '600';
  font-style:'normal';
  background-color: var(--primary);
  line-height: 24px;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (max-width: 768px){
  body{
      font-size: 87.5%;
  }
 

}
